:root {
    /* Colors */
    --blue: #4778ff;
    --darkblue: #3254b3;
    --lightblue: #91aeff;
    --yellow: #ffce47;
    --darkyellow: #b39132;
    --lightyellow: #ffe291;
    --text: #ccc;
    --textdark: #a1a1a1;
    --dark: #1e1e1e;
    --bglight: aliceblue;
    --bgdark1: #1b1b1b;
    --bgdark2: #202020;

    /* Margins */
    --marg: 30%;
    --marg2: 25%;
    --marg3: 15%;
}

@font-face {
    font-family: "RobotoSlab";
    src: url('/fonts/robotoslab.ttf') format('truetype');
}

body {
	font-family: RobotoSlab, Arial, serif, sans-serif ;
	background: var(--bgdark2) ;
	color: var(--text) ;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width:1500px) {

	body {
		max-width: 40rem;
	}
}

@media screen and (max-width:1200px) {

	body {
		max-width: 90%;
	}
}

p {
   	color: var(--text);
}

h1 {
	color: var(--yellow);
}

.liblist {
	list-style:none;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

/* My Stuff Again */

.center {
    margin: 0 auto;
    text-align: center;
    /* width: 100%; */
} 
.y {
    color: var(--yellow);
}

#title {
    font-size: 64px;
    letter-spacing:.12em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#title2 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#subt {
    font-size: 28px;
    font-style: italic;
    margin-top: 10px;
    color: var(--lightyellow);
}

.subsubt{
    font-size: 24px;
    color: var(--yellow);
}

.content {
    font-size: 20px;
    color: var(--text);
}

.shortline {
    margin-left: var(--marg);
    margin-right: var(--marg);
  }

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
    /* height: 300px; */
    /* object-fit: cover; */
    border-radius: 25px;
    border: 4px solid var(--yellow);
}

#coldhands-a {
    display: block;
    width: 50%;
}

#coldhands {
    border-left: 2px solid var(--bgdark1);
    border-top: 2px solid var(--bgdark1);
    border-bottom: 4px solid var(--bgdark1);
    border-right: 4px solid var(--bgdark1);
}

.marg {
    margin-left: var(--marg);
    margin-right: var(--marg);
}

.link {
    text-decoration: none;
    color: var(--blue);
}

.link_w {
    text-decoration: none;
    color: var(--text);
}

.linknc {
    text-decoration: none;
    color: var(--yellow);
}

.link:hover{
    color: var(--darkblue);
}

.link_w:hover {
    text-decoration: none;
    color: var(--textdark);
}

.smtxt {
    font-size: 16px;
    color: var(--text);
}

.bold {
    font-weight: bold;
}

a{
    text-decoration: none;
    color: var(--blue);
}

a:hover{
    color: var(--darkblue)
}

.figcap {
    color: var(--yellow);
    font-style: italic;
    font-size: smaller;
    margin-top: 5px;
}

.libtitle {
    color: var(--yellow);
}

.dono {
    font-size: 12px;
}
